{
  "goTemplateBracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*.html",
        "*.tmpl.*"
      ],
      "options": {
        "parser": "go-template",
        "bracketSameLine": true
      }
    }
  ]
}
